doctype
html
	head
		meta(charset="utf-8")
		title jade演示一
	body
		h1 hello jade!
		.btn.btn-block#id1 按钮样式
		ul.list-group
			li.list-group-item: a(href="") link
		//- p 这是一段文字
		// p 这是一段文字
		p
			| 111111
			| 222222
			| 333333
		p.
			11111
			22222
			33333